node_modules
dist
data
*.br
*.gz
*.pem
*.env
*.*_dev_secret
*.db*
.tsbuildinfo

# prestalia_mobile

# Miscellaneous
prestalia_mobile/*.class
prestalia_mobile/*.log
prestalia_mobile/*.pyc
prestalia_mobile/*.swp
prestalia_mobile/.DS_Store
prestalia_mobile/.atom/
prestalia_mobile/.build/
prestalia_mobile/.buildlog/
prestalia_mobile/.history
prestalia_mobile/.svn/
prestalia_mobile/.swiftpm/
prestalia_mobile/migrate_working_dir/

# IntelliJ related
prestalia_mobile/*.iml
prestalia_mobile/*.ipr
prestalia_mobile/*.iws
prestalia_mobile/.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
prestalia_mobile/**/doc/api/
prestalia_mobile/**/ios/Flutter/.last_build_id
prestalia_mobile/.dart_tool/
prestalia_mobile/.flutter-plugins-dependencies
prestalia_mobile/.pub-cache/
prestalia_mobile/.pub/
prestalia_mobile/build/
prestalia_mobile/coverage/

# Symbolication related
prestalia_mobile/app.*.symbols

# Obfuscation related
prestalia_mobile/app.*.map.json

# Android Studio will place build artifacts here
prestalia_mobile/android/app/debug
prestalia_mobile/android/app/profile
prestalia_mobile/android/app/release
